@import "./variables.css";

h2 {
  text-align: center;
  margin: 16px 0 24px;
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 0.3px;
}

button {
  font-family: inherit;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: var(--card-bg);
  color: #222;
  margin: 0;
  padding: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
